.main-container {
    min-height: 100vh;
    position: relative;
}

.page-title {
    margin-bottom: 40px;

    &--center {
        text-align: center;
    }
}

.jumbotron--transparent {
    background-color: transparent;
}

.spinner {
    background-color: #ecf0f1;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.spinner__copy {
    position: absolute;
    left: 0;
    margin: auto;
    right: 0;
    text-align: center;
    top: 45%;
}

.list-container {
    margin-bottom: 40px;
}

.section-title {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
